*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(darkbg10.jpg);
    background-position:center;
    background-size: cover;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

